.root {
    -fx-background-color: #282828;
    -fx-text-base-color: #ffffff;
}

/* Buttons */
.button {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #555555;
}

.button:pressed {
    -fx-background-color: #777777;
}

/* Labels */
.label {
    -fx-text-fill: #ffffff;
}

/* Text Fields */
.text-field {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #ffffff;
    -fx-highlight-text-fill: #ffffff;
    -fx-highlight-fill: #333333;
}

/* Text Areas */
.text-area {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #ffffff;
}

/* List Views */
.list-view {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #ffffff;
}

/* Scrollbars */
.scroll-bar {
    -fx-background-color: #4d4d4d;
}

.scroll-bar-thumb {
    -fx-background-color: #555555;
}

.scroll-bar-thumb:hover {
    -fx-background-color: #777777;
}

.scroll-bar-thumb:pressed {
    -fx-background-color: #999999;
}

.scroll-bar-track {
    -fx-background-color: #333333;
}

.scroll-bar-track:hover {
    -fx-background-color: #555555;
}

.scroll-bar-track:pressed {
    -fx-background-color: #777777;
}

.choice-box {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #ffffff;
}

.choice-box:hover {
    -fx-background-color: #555555;
}

.choice-box:pressed {
    -fx-background-color: #777777;
}

.choice-box .label {
    -fx-text-fill: #ffffff;
}

.choice-box .arrow {
    -fx-background-color: #4d4d4d;
}

.choice-box .context-menu {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #ffffff;
}

.choice-box .context-menu .menu-item {
    -fx-text-fill: #ffffff;
}

.choice-box .context-menu .menu-item:focused {
    -fx-background-color: #555555;
}

.choice-box .context-menu .menu-item:hover {
    -fx-background-color: #555555;
}

.choice-box .check-mark {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
}

/* ToolBar */
.tool-bar {
    -fx-background-color: #4d4d4d;
    -fx-padding: 5;
}

/* ToolBar Buttons */
.tool-bar .button {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #ffffff;
}

.tool-bar .button:hover {
    -fx-background-color: #555555;
}

.tool-bar .button:pressed {
    -fx-background-color: #777777;
}

/* ToolBar Labels */
.tool-bar .label {
    -fx-text-fill: #ffffff;
}

/* ToolBar Text Fields */
.tool-bar .text-field {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #ffffff;
    -fx-highlight-text-fill: #ffffff;
    -fx-highlight-fill: #333333;
}
